* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --color--primary: #ff5b2e;
}

/* commom */
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    border-radius: 99px;
    border: 1px solid rgba(0, 9, 88, 0.7);

    color: #000958;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}

.btn--primary {
    border-color: var(--color--primary);
    color: #fff;
    background: var(--color--primary);
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    color: var(--color--primary);
}

/* Header */

.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__link {
    padding: 8px 18px;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
}

.navbar__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
    /* font-weight: 600; */
}

.header-action__btn {
    --height: 50px;
    min-width: 118px;
}

/* Hero */

.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

.hero__media {
    display: flex;
    position: relative;
    padding-bottom: 94px;
}

.hero__img--wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
    border: 3px solid #fff;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__deco {
    position: absolute;
    z-index: -1;
}

.hero__deco--left {
    left: -58px;
    bottom: 10px;
}

.hero__deco--right {
    top: 17px;
    right: -40px;
}

.hero__img--wrap--small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    margin-left: -46px;
    margin-bottom: -58px;
    background: #faa7ad;
    border: 2px solid #fcdcde;
}

.hero__list {
    position: absolute;
    left: 129px;
    bottom: 0;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-list__item {
    display: flex;
}

.hero-list__item--thumb {
    width: 40px;
    height: 40px;
    object-fit: cover;
    background: #fec23f;
    border-radius: 10px;
}

.hero-list__item:nth-of-type(2) .hero-list__item--thumb {
    background: #6597c2;
}

.hero-list__item--info {
    margin-left: 10px;
}

.hero-list__item--title {
    color: #181e52;
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-list__item--skeleto {
    margin-top: 6px;
    width: var(--width, 118px);
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.hero-list__item--separate {
    display: block;
    margin: 20px 0;
    width: 100%;
    height: 2px;
    background: #f2f2f2;
}

/* Hero Content */

.hero__heading {
    color: #000958;
    font-family: "Sora", sans-serif;
    font-size: 6.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: 1.15152; /* 115.152% */
}

.hero__desc {
    margin-top: 24px;
    max-width: 391px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875; /* 187.5% */
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__cta--btn {
    font-size: 1.6rem;
    --height: 60px;
    min-width: 190px;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__cta--link {
    margin-left: 24px;
    color: #000958;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    text-decoration: underline;
}
